/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(216, 43, 43);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.contato button:hover {
    box-shadow: 0px 0px 8px #d80101;
    transform: scale(1.05);
}

button:hover,
form .enviar input:hover {
    box-shadow: 0px 0px 8px #d80101;
    transform: scale(1.05);
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #d80101;
}

.projetos button {
    padding: 20px 80px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(216, 43, 43);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    align-items: center;
}

/* ESTILO CABEÇALHO */
header {
    padding: 15px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: gray;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header a span {
    color: #d80101;
}

/* MENU MOBILE */
.botao-abrir-menu i{
    color: #d80101;
    font-size: 40px;
}

.menu-mobile{
    background-color: #000000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #46464663;
    color: #d80101;
}

.menu-mobile .fechar-mobile{
    padding: 20px 5%;
}

.menu-mobile .fechar-mobile i{
    color: #d80101;
    font-size: 30px;
}

.overlay-menu{
    background-color: #000000a1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.botao-abrir-menu{
    display: none;
}

/* ESTILO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #d80101;
    font-size: 150%;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0px;
    font-size: 15px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 5s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 30px;
    }

    100% {
        top: 0;
    }
}

/* ESTILO ESPECIALIDADES */
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border: 2px solid #fff;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff7a;
}

.especialidades-box i {
    font-size: 70px;
    color: #d80101;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especialidades-box span {
    font-weight: bold;
    color: #ff7b7b;
}

/* ESTILO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #d80101;
    display: block;
}

.sobre .txt-sobre p {
    margin: 30px 0;
    text-align: justify;
}

.social button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #d80101;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO PROJETOS */
section.projetos {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1e;
}

.projetos button {
    padding: 40px 160px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(216, 43, 43);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    align-items: center;
}

/* ESTILO FORMULÁRIO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: rgba(34, 34, 34, 0.479);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .enviar {
    margin-top: 22px;
    text-align: center;
}

form .enviar input {
    width: 120px;
    background-color: #d80101;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}


/* ESTILO FOOTER */
footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1e;
}

footer .flex {
    justify-content: space-between;
}

.line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #d80101;
}

footer .line-footer p i {
    color: #d80101;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

@media screen and (max-width: 1020px) {

    /* GERAL */
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    .projetos button {
        padding: 20px 80px;
    }

    /* TOPO DO SITE */
    section.topo-do-site {
        padding: 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    section.topo-do-site .flex {
        gap: 40px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .contato {
        display: none;
    }

    /* ESPECIALIDADES */
    section.especialidades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    .botao-abrir-menu{
        display: block;
    }
}

/* PROJETOS - DELETAR DEPOIS */

.aviso-projetos{
    color: #fff;
    text-align: center;
    margin: auto;
}

/* CERTIFICAÇÕES */

section.certificados{
    align-items: center;
    gap: 60px;
}

.cert-geral{
    margin-bottom: 130px;
}

.certificado{
    color: #fff;
    padding: 40px;
    border: 2px solid #fff;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.certificado:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff7a;
}

.txt-cert h2{
    color: #d80101;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
    margin-top: 80px;
    margin-left: 30px;
}

.txt-cert ul {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15%;
}

.txt-cert ul li{
    font-size: 15px;
}

.txt-cert h3{
    color: #fff;
    margin-top: 50px;
    margin-left: 15%;
}

.txt-cert p{
    color: #fff;
    margin-left: 15%;
    margin-top: 2%;
}